.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    background-color: var(--white);
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

// Button types
.rounded {
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

    &:hover {
        border-color: rgba(22, 24, 35, 0.3);
        background-color: rgb(245, 245, 245);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        border-color: var(--primary);
    }
}
.outline {
    color: var(--primary);
    border-color: currentColor;
    &:hover {
        background-color: rgba(254, 44, 85, 0.08);
        border-color: currentColor;
    }
}
.text {
    color: var(--black);
    &:hover {
        text-decoration: underline;
    }
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    min-width: 140px;
    padding: 14px 16px;
}
