.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;
    --search-btn-active: #575757;
    --search-result-width: 361px;

    --search-icon-color: #bdbdbd;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-hoizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}

.search,
.search-result {
    width: var(--search-result-width);
}
.search {
    width: var(--search-result-width);
    height: var(--search-height);
    display: flex;
    background-color: #f1f1f2;
    border-radius: var(--search-border-radius);
    padding: 0 0 0px 16px;
    position: relative;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--search-btn-active);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-btn-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: var(--search-icon-color);
    }

    &:focus-within,
    &:hover {
        border-color: #c6c5c5;
    }
}
.search-title {
    color: #bebebe;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}
.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 10px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--search-icon-color);
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: var(--search-icon-color);

    &:hover {
        background-color: #d9d9d9;
        cursor: pointer;
        color: var(--search-btn-active);
    }

    &:active {
        background-color: #e9e9e9;
    }
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    background-color: transparent;
    padding: 4px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
}
